@use "../abstracts/" as *;

.container {
  color: $container-color;
  background-color: $container-background-color;
  --padding: #{$container-min-margin-inline};
  --max-width: #{$container-max-width};

  max-width: min(100%, var(--max-width));
  margin-inline: auto;
  padding-block-start: clamp($size-10, 4vw, $container-padding);
}

.container[data-type="narrow"] {
  --max-width: #{$container-max-width-narrow};
}
.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
  // --padding: #{$container-min-margin-inline};
}
.container[data-type="full-bleed"] {
  --max-width: 100%;
}
