@use "../abstracts" as *;
.site-values {
  &__bg {
    background-image: url(../public/spa-imgs/spa/Annotation.jpg);
    background-size: cover;
    background-position: center;
  }

  &__text {
    margin-inline: auto;
    max-width: 50ch;
  }
}

.site-values__bg {
  padding: clamp($size-6, 4vw, $size-10);
}
