@use "../abstracts/" as *;

.site-footer {
  background-color: $color-primary-900;
  background-color: #888885;
  a {
    color: $color-primary-900;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;
    font-weight: 700;
    letter-spacing: $letter-spacing-loose;
    display: inline-block;
    transition: all 0.2s ease;

    &:is(:hover, :focus) {
      transform: scale(1.2);
    }
  }
  &__text {
    color: $color-primary-900;
    font-weight: 500;
    max-width: 60ch;
  }
}

.footer-nav__socials ul {
  fill: currentColor;
  justify-content: flex-start;
  column-gap: calc($flex-group-gap / 2);
}
