@use "../abstracts" as *;
@use "../layout" as *;

.site-header {
}

.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;
}

.nav-main {
  max-width: $container-max-width-wide;
  padding: $size-6 $size-10;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;

  a {
    cursor: pointer;
    color: $color-neutral-000;
    text-decoration: $navigation-link-text-decoration;
    transition: all 0.2s ease;
    display: inline-block;
    &:is(:hover, :focus) {
      transform: scale(1.2);
    }
  }
}

.nav-main.sticky {
  // max-width: $container-max-width-wide;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  // padding: $size-6 $size-10;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

section {
  transition: transform 1s, opacity 1s;
}
.logo {
  height: 36px;
  width: 36px;
}

.open-nav,
.close-nav {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  position: absolute;
  display: none;
  cursor: pointer;
  svg {
    height: 4rem;
    width: 8rem;
    color: currentColor;
  }
}
.open-nav {
}

.open-nav,
.close-nav {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  position: absolute;
  display: none;
  cursor: pointer;
}
@media (max-width: 860px) {
  .nav-main {
    // visibility: hidden;
    background-color: $color-neutral-400;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translateX(100%);
    // opacity: 0;
    transition: all 0.1s ease;
  }

  .nav-main.open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }

  .open-nav,
  .close-nav {
    display: block;
  }
  .navigation .nav__link:link,
  .navigation .nav__link:visited {
    font-size: 2.4rem;
    font-weight: 500;
  }
  .nav__logo {
    transform: scale(2);
  }
  .close-nav {
    top: 2rem;
    right: 3rem;
  }
  .open-nav {
    top: 2rem;
    left: 3rem;
  }
}
