@use "../abstracts" as *;
@use "../layout" as *;

.site-header {
  background-image: url(../public/spa-imgs/spa/masking-2-lazy-2.jpg);
  background-position: bottom center;
  background-size: cover;
}

.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;
  font-family: $navigation-font-family;
  font-weight: $navigation-font-weight;
}

.nav-main {
  width: 100%;
  a {
    cursor: pointer;
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;
    transition: all 0.2s ease;
    display: inline-block;
    &:is(:hover, :focus) {
      transform: scale(1.2);
    }
  }
}

.nav-main.sticky {
  max-width: $container-max-width-wide;
  // width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: $size-6;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

section {
  transition: transform 1s, opacity 1s;
}
.logo {
  height: 36px;
  width: 36px;
}
