@use "../abstracts" as *;
.site-booking {
  background-image: url(../public/spa-imgs/pexels-eva-bronzini-6140925.jpg);
  background-size: cover;
  background-position: center;

  & form {
    justify-content: center;
    background-color: $color-neutral-400;
    color: $color-text-default-2;
    // margin-inline: auto;
  }
}
