@use "../abstracts" as *;

.site-header {
  background-color: $color-neutral-1000;
  height: 100vh;
  color: $site-header-color;
  background-image: url(../public/spa-imgs/pexels-shvets-production-6984583.jpg);
  background-position: bottom center;
  background-size: cover;
  @include mq(medium) {
    justify-content: $site-header-jusitifcation-large-screens;
  }
}
