@use "../abstracts" as *;
@use "../layout" as *;

.site-services {
  background-color: $color-neutral-1000;
  padding-block-start: $section-padding-block;
  &__text {
    span {
      display: block;
    }
  }
}
.price-tiers {
  min-width: max-content;
  z-index: 99;
  position: relative;
}
.price-tier {
  color: $accent-background-color;
  min-width: 10rem;
  background-color: $color-neutral-000;
  ul {
    padding-inline-start: 0.9rem;
  }
  .price {
    text-align: center;
  }
}

.treatment-process-footer {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  column-gap: $size-10;
}

.treatment-process-footer::after {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #a3a1a1;
}
